*{
  margin: 0;
  padding: 0;
}
html, body{
height: 100%;

}

#container{
  min-height: 100%;
}

#main{
  overflow: auto;
  padding-bottom: 100px;
}

 body{
  background: url(https://cdn.pixabay.com/photo/2012/12/14/11/36/spicy-69984_960_720.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
 } 

  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover, 
  .topnav,
  .topnav:hover,
  .dropdown:hover,
  .dropbtn ,
  .dropbtn:hover{
    background-color: rgb(208, 243, 14, .5);
    color: rgb(7, 0, 0);
    overflow: hidden;
    
  }
  
  .dropdown {
      float: right;
      overflow: hidden;
  }
  
  .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(208, 243, 14, .2);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgb(208, 243, 14, .2);
      z-index: 1;
  }
  
  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .dropdown-content a:hover,
  .dropbtn:hover {
      background-color: rgb(208, 243, 14, .7);
      color: black;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }


 h1{
   font-family: 'Chewy', cursive ;
 } 

.ingredients{
    background: rgba(255, 255, 255, 0.65);
    float: left;
    width: 420px;
    border: 3px solid rgb(208, 243, 14);
    padding: 20px;
    }


.dalegas{
    background: rgba(255, 255, 255, 0.65);
    float: right;
    width: 370px;
    border: 1px solid rgb(208, 243, 14);
    padding: 5px

}

footer{
  background-color: rgba(6, 126, 64, 0.65);
  position: relative;
  height: 75px;
  margin-top: -75px;
  clear: both;
}


/* .copyright {
  text-align-last: center;
} */

